.quote {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 180px;
}
.author {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 10px;
}
.category {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 10px;
    text-transform: capitalize;
}

.text {
    padding: 5px 0 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.more{
    padding: 12px 36px;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    background: #021a28;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-left: 42%;
    min-width: 200px;
}

.left {
    margin-left: 1px;
    min-width: 100px;
}

