.category-links a{
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

.category-links{
    list-style: none;
    margin-right: 30px;
}

.category-ul {
    background: #61dafb;
    display: flex;
    padding-left: 20px;
}

.category-block{
    width: 1100px;
    margin: 0 auto;
}