.Input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 60%;
    box-sizing: border-box;
    margin: 10px auto;
    height: 50px;
}

